*{
  padding: 0;
  margin: 0;
  background-color: rgb(186, 194, 197);
}
.heading{
  text-transform: capitalize;
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 30px;

}